body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* big screen */

@media(min-width :786px)
{
    .profile {
        background-color: aqua;
        margin-bottom : 20px;
    }

    .unsplash{
        background-color: aqua;
        margin-bottom : 20px;
    }
 }

/* small screen */
@media(max-width :786px)
{
    .profile {
        background-color: red;
                margin-bottom : 20px;
    }

    .unsplash{
        background-color: red;
        margin-bottom : 20px;
    }
 }
