.admin-container{
    display: flex;

}

.admin-console{
    width : 180px;
    display : flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    border : 4px solid goldenrod;
    background-color: aquamarine;
}
.admin-console button{
    font-size: larger;
    margin : 15px;
    padding : 10px
}
.admin-component {
    border : 4px solid grey;
    width : 60%;
    height : 400px;
    text-align: center;
    margin : 20px auto;

}