
.no-data {
    width : 600px;
    margin : 20px auto;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loader {
    width : 20%;
    margin : 20px auto;
}

.resturant-card1{
    background-color: lightgrey;
    display : flex;
    width : 200px;
    height : 400px;
    margin : 20px;
}