.details{
    text-align: center;
    

}
.form {
    width : 300px;
    display: flex;
    flex-direction: column;
    margin : auto;
  

}

table, th, td {
    border: 1px solid black;
    width : 400px;
    margin : 20px auto;
  }
