.login-div{

    border : 3px solid grey;
    background-color: aqua;
    width : 380px;
    margin : 60px auto;
    padding: 20px;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input{
    border-radius: 10px;
    margin : 15px;
    padding: 5px;
    font-size: 18px;
    box-sizing: border-box;
    background-color : lightgoldenrodyellow;
    

}

.btn-submit{
    display: block;
    font-size: 18px;
    border-radius: 18px;
    background-color : lightcoral;
    width : 30%;
    margin : 5px auto;
    
}
.child-div{
    border : 2px solid blueviolet; 
    width : 200px;
    padding : 20px;
    height : 120px;
    background-color: brown;
    box-sizing: border-box;  
    
}