

/* .tab button{
    margin: 10px;
    padding:10px;
} */
*
{
    font-weight :bold;
}
.tablebody{
    width : 80%;
    margin : 20px auto;
    border : 3px solid yellowgreen;
    border-radius: 14px;
}

.tablebody tr{
    
 width : 10vw;

}

.paginate-btn-container{
    display: flex;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 5px;
    width : 80vw;
    margin : 20px auto;
   
    /* justify-content: space-between; */
    
}

.paginate-button{
    margin: 30px;
    width: 50px;
    height : 35px;
    display: flex;
    flex-wrap: nowrap;
    gap : 2px;
    border-radius: 12px;
    padding :0 3px;
   

}

.paginate-button-numbers{
    gap : 5px;
    border-radius: 12px;
    padding :0 3px;
    height : 35px;
    width : 50px;
   

}