.product-container{
    display: flex;
    flex-wrap: wrap;
    gap : 40px;
    width : 90%;
    margin : auto;
}

.products-card{
   width : 300px;
   height : 450px;
   
   padding: 20px;
   border : 2px solid lightcoral;
    overflow: hidden; 
   font-size: 18px;
   word-wrap: break-word;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   border-radius: 12px;
   box-sizing: border-box;
   color: darkcyan;
   font-weight: bold;
}




.products-card-btn{
    
    width : 200px;
    border-radius: 14px;
    font-size: 18px;
    padding: 5px;
    color: goldenrod;
    background-color: brown;
    
}
