.contact-form{

    width : 400px;
    margin : 20px auto;
    padding : 20px;
    margin-top : 30px;
    border : 2px solid grey;
    


}
label {
     margin : 20px;
     padding: 20px; 
}   

.check-box{
    margin : 30px;
}

