.Header {
    border : 3px solid brown;
    display: flex;
    justify-content: space-between;

}

.container {
    margin-right: 20px;
    display: flex;
    
}

ul > li {
    list-style-type: none;
    margin : 5px; 
}