.Header {
    border : 3px solid brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.container {
    margin-right: 20px;
    display: flex;
 
   

    
}

.container li {
    margin : 10px;
    text-decoration: none;
    list-style-type: none;
   
}
